<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kun.mapper.EquipmentRecommendMapper">

    <resultMap id="BaseResultMap" type="com.kun.pojo.EquipmentRecommend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="heroId" column="hero_id" jdbcType="BIGINT"/>
            <result property="equipmentId" column="equipment_id" jdbcType="BIGINT"/>
            <result property="recommendType" column="recommend_type" jdbcType="TINYINT"/>
            <result property="stage" column="stage" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hero_id,equipment_id,
        recommend_type,stage,version,
        delete_flag,create_time,update_time
    </sql>
</mapper>
